@page "/"

<center>
    <h1>Bienvenidos!</h1>
    <RadzenImage class="align-content-center" Path="https://lh3.googleusercontent.com/p/AF1QipPgyQJwFT-MJ0kFulb0wthZtZebgQCGMNrG8-rm=w450-h450-n-o-v1"> </RadzenImage>
    <h3>Vacaciones Grupo Marpa IT</h3>
    <h4>
        Misión
    </h4>
    <p>
        Difundir tecnologías inteligentes y ecológicas que contribuyan tanto al bienestar de las personas como a la eficiencia y seguridad de las empresas de nuestro país.
    </p>

    <h4>
        Visión  
    </h4>
    <p>
        Ser el integrador de tecnologicas de la información, telecomunicaciones y seguridad más reconocido y confiable del país.
    </p>

</center>